---
import MainLayout from '../layouts/MainLayout.astro'
import "./_contact.css"
---

<MainLayout>
    <div class="primary-contact">
        <form class="contact-form">
            <h1>Contact</h1>
            <div>Email</div>
            <input type="email" placeholder="Email" />
            <div>Question</div>
            <textarea placeholder="Question"></textarea>
        </form>
    </div>
</MainLayout>