---
import MainLayout from '../layouts/MainLayout.astro'
import Report from '../components/Report.astro'
const count = [1, 2, 3, 4, 5];
---
<MainLayout>
    <div>
        <h1>Publication</h1>
        {
            count.map((item, index) => (
                <Report></Report>
            ))
        }
    </div>
</MainLayout>