---
import MainLayout from '../layouts/MainLayout.astro'
import Report from '../components/Report.astro'
import "./_news.css"
const count = [1, 2, 3, 4, 5];
---
<MainLayout>
    <div class="news-primary">
        <h1 class="news-heading">News</h1>
        {
            count.map((item, index) => (
                <Report></Report>
            ))
        }
    </div>
</MainLayout>