---
export const prerender = false;

import MainLayout from '../../layouts/MainLayout.astro'
// import Post from '../../components/Post.astro'
import "./_news.css"
import { IPost } from '../../types';

const { post } = Astro.params;
console.log(Astro.params);
---
<MainLayout>
    <div class="news-primary">
        <h1 class="news-heading">News {post}</h1>
        <h1 class="news-heading">post</h1>
    </div>
</MainLayout>
