.news-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.news-heading {
  font-size: var(--fs-700);
  color: var(--primary-blue);
  margin-bottom: 2rem;
  text-align: center;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  width: 100%;
  justify-items: center;
}
