---
export const prerender = false;

import MainLayout from '../../layouts/MainLayout.astro'
import Post from '../../components/Post.astro';
import { IPost } from '../../types';
import "./_news.css"
const posts : IPost[] = [{

    id: 10,
    title: "Title 1",
    content: "Description 1",
    date: "2021-01-01"
}, {
    id: 22,
    title: "Title 2",
    content: "Description 2",
    date: "2021-01-02"
}, {
    id: 33,
    title: "Title 3",
    content: "Description 3",
    date: "2021-01-03"
}];

const API_URL = "http://localhost:8080";
console.log(API_URL)
const res = async () => {
    console.log("My result would be!");
    const res = await fetch(`${API_URL}/api/news`);
    return res.body;
}

---
<MainLayout>
    <div class="news-primary">
        <h1 class="news-heading">News {res()}</h1>
        {
            posts.map((item) => (
                <a href={`/news/${item.id}`}>
                    <Post post={item}></Post>
                </a>
            ))
        }
    </div>
</MainLayout>