---
import MainLayout from '../../layouts/MainLayout.astro';
import "./_news.css";
import FacebookPost from '../../components/FacebookPost.astro';

const postUrls = [
    "https://www.facebook.com/UlziiAssociation/posts/pfbid07JW834oFcxPQmFSt5aRL6dMhMhoB3dX52UCr7yCpCaNEHQLBEfMLC9m5z9ukGz1Vl",
    "https://www.facebook.com/UlziiAssociation/posts/pfbid02fx6X1uFMBsvrp71zG3qkML11cTxN88VPrCZGdLAXJk8hEyTMXavjFeXdzZg9YEpFl",
    "https://www.facebook.com/UlziiAssociation/posts/pfbid02XvRYjj4Ld2c9inGCpRficGbFsfYkBFaMwoCFf36eFWYbPDNF3bSmVZNzVemVjcFZl",
];
---
<MainLayout>
    <div class="news-container">
        <h1 class="news-heading">News from Our Facebook Page</h1>
        <div class="posts-grid">
            {postUrls.map(postUrl => <FacebookPost postUrl={postUrl} />)}
        </div>
    </div>
</MainLayout>