---
export interface Props {
    postUrl: string;
}
const { postUrl } = Astro.props;
---
<script is:inline async defer crossorigin="anonymous" 
  src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v19.0">
</script>

<div class="post-wrapper">
    <div class="fb-post" data-href={postUrl}></div>
</div>

<style>
    .post-wrapper {
        display: flex;
        justify-content: center;
        flex: 1 1 min(100%, 350px);
        max-width: 500px;
        width: 100%;
    }

    .post-wrapper :global(.fb-post),
    .post-wrapper :global(.fb-post span),
    .post-wrapper :global(.fb-post iframe) {
        width: 100% !important;
    }
</style>