---
import "./footer.css"
---
<footer class="footer-primary">
    <div class="footer-pattern"></div>
    <div class="footer-content flex">
        <ul class="footer-social">
            <li>
                <a href="https://facebook.com/UlziiAssociation" target="_blank">
                    <img class="footer-fb-logo" src="/facebook.svg" alt="Facebook">
                </a>
            </li>
        </ul>
        <div class="footer-bottom">
            <p>&copy; 2025 Ulzii Association</p>
        </div>
    </div>
</footer>