---
import "./report.css";
import { IReport } from "../types";
const { report } = Astro.props as { report: IReport };
---

<div class="report-primary">
    <h1 class="report-title">{report.title}</h1>
    <span class="report-brief">{report.content}</span>
    <div class="report-brief-footer">
        <span>{report.date}</span>
    </div>
</div>