---
import "./report.css";
---

<div class="report-primary">
    <h1 class="report-title">Title</h1>
    <span class="report-brief">Here are the latest news from Ulzii Association.</span>
    <div class="report-brief-footer">
        <span>Date-time</span>
    </div>
</div>