---
import "./report.css";
---

<div>
    <h1>News</h1>
    <p>Here are the latest news from Ulzii Association.</p>
    <ul>
        <li>News 1</li>
        <li>News 2</li>
        <li>News 3</li>
    </ul>
</div>